/* paleta de colores a falta de json 
   azul-muy-oscuro: 0D1B2A
   azul-oscuro: 1B263B
   azul: 415A77
   azul-claro: 778DA9
   blanco: E0E1DD*/


   *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #f2f2f2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body{
    background-color: #0D1B2A;
    height: 200vh;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: rgba(255, 179, 0, 0);
    border: 0px solid rgba(255, 0, 251, 0);
    font-size: 30px;
    
}

.gap{
    width: 10px;
}

.sidenav{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1e1e1e00;
    position: sticky;
    top: 0;
    color: #1e1e1e;
    height: 50%;
    width: 30%;
    min-width: 20%;
   

    .up{       
        background-color: #1B263B;
        height: 30%;
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
       

        
    }

    .down{
        background-color: #1B263B;
        height: 100%;
        width: 100%;
        border-radius: 15px;
    }

    
    
}
.home,
.search{
    height: 30px;
    margin-right: 10px;
    margin-left: 3px;
    
}

.sidebar{
    background-color: #1B263B;
    width: 8%;
    display: none;
    border-radius: 10px;
    background-image: url(/assets/burger.svg);
    background-repeat:no-repeat;
    background-size: 50px;
    background-position:top ;
}


main{
    display: flex;
    flex-direction: column;
    background-color: #1B263B;
    height: 100%;
    width: 80%;
    // margin-left: 30%;
    border-radius: 15px;
    align-items: center;

    .main-song{
        margin-top: 50px;
        margin-bottom: 50px;
        background: rgb(13,27,42);
background: linear-gradient(45deg, rgba(13,27,42,0.9770642201834863) 22%, rgba(65,90,119,0.9571865443425076) 77%, rgba(252,176,69,0) 100%);
        height: 200px;
        width: 91%;
    }

    .container {  
        margin: 0px 10px 0px 10px;
        display: grid;
        
        grid-template-columns: repeat(5, 200px);
        grid-template-rows: repeat(3, 250px);
        gap: 80px 20px;
        grid-auto-flow: row;

        div{
            background-color: #0D1B2A;
            border-radius: 10px;
            
            


            img{
                margin: 7% 0% 7% 7%;
                border-radius: 10px;
                

                height: 70%;

            }
        }
      }
      


}

.footer{
    background-color: #0e0e0e;
    position:fixed;
    bottom: 0;
    height: 15%;
    width: 100%;
}

@media screen and (max-width: 1000px) {
   .sidenav{
    display: none;
   }

   .sidebar{
    display:flex;
   }

   body{
    height: 270vh;
   }

   main{
    width: 90%;

    .container{
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: repeat(5, 210px);


    }
   }
}

@media  screen and (min-width: 1000px) {
 main{
    .container{
        grid-template-columns: repeat(4, 180px);
        grid-template-rows: repeat(4, 210px);


    }
}

}